.env

**/__pycache__/
**/*.py[cod]
**/*$py.class
**/.venv/
**/venv/
**/env/
**/.pytest_cache/

**/node_modules/
**/build/
**/.eslintcache
**/npm-debug.log*

**/db_data/
**/postgres_data/

.vscode/
*.swp
*.swo

.DS_Store
Thumbs.db